*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1366px;
    padding: 0 20px;
}
.header{
    margin: 8px 98px 8px 100px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navbar{
    margin-left: 527px;
    display: flex;
    align-items: center;
}
.headere-list{
    display: flex;
    align-items: center;
}
.header-item + .header-item{
    margin-left: 30px;
}
.header-item-link{
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-item-link2{
    padding: 2px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*  HOVER'S   */

.header-item-link:hover{
    border-bottom: 1px solid #5FBDFF;
    color: #5FBDFF;
    padding-bottom: 5px;
}
.header-item-link2:hover{
    border-bottom: 1px solid #5FBDFF;
    color: #5FBDFF;
    border-color: #5FBDFF;
}


/*   Trend-section   */


.trend-section{
    margin-bottom: 100px;
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trend-content{
    /* margin: 0 auto */
    display: flex;
}
.trend{
    width: 496px;
    margin: 0 auto;
    box-shadow: -1px -1px 10px 0px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trend-img{
    margin: 40px 197px 24px 197px;
}
.trend-title{
    margin: 0px 101px 16px 102px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Segoe UI;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.trend-text{
    display: inline-block;
    margin: 0 14px 56px 131px;
    color: #444150;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.trend-inner-link{
    color: var(--01-bab-3, #01BAB3);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
    border-bottom: 2px solid #01BAB3;
}
.main-folder{
    display: flex;
}
.input{
    padding: 10px 0 14px 10px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
}
.label{
    color: #444150;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.form-icon{
    color: var(--01-bab-3, #01BAB3);
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.form-content{
    width: 200px;
    margin: 0 16px 24px 38px;
}
.form-content2 > input{
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.name3{
    margin-left: 40px;
}
.input2{
    width: 416px;
    height: 48px;
    padding: 10px 0 14px 16px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.form-folder{
    margin: 0 40px ;
}
.input[type='text']:focus{
    outline: 2px solid #01BAB3;
}
.input2[type='datetime']:focus{
    outline: 2px solid #01BAB3;
}
.main-form-folder{
    display: flex;
    align-items: center;
    margin: 0 0 24px 40px;
    /* justify-content: space-between; */
}
.main-form-folder h2 {
    color: #444150;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    /* font-weight: 600; */
    /* line-height: 24px; 150% */
}

.form-button{
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 151px;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 40px 40px;
    width: 416px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--01-bab-3, #01BAB3);
}
.form-img{
    padding-left: 16px;
}
.label{
    display: block;     
    margin: 0 0 8px 40px ;
}
.form-button{
    outline: none;
}

input{
    outline: none;
}
.form-feild label{
    width: 416px;
    height: 48px;
}
.form-feild input{
    padding: 10px 0 14px 16px;
}

.form-folder-4{
    margin: 8px 40px 24px 40px;
}








